body{
    background-color: #ffe6e9;
    margin: 0px;

}

*{

    margin: 0px;
    padding: 0px;
}

html{

    font-size: 16px;
}

#hombre{

    max-width: 100%;
    max-height: 100%;
    display: inline-block; 
}




.hombre-ahorcado{

    width: 100vw;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    height: 17rem;
   
  

}

.adivinado{

    text-align:center;
    color: #ff1694;
    font-size: 1.8rem;


}

.letra{
    display: inline-block;
    vertical-align: middle;
    text-align:center;
    
}

.adivinada{

    width: 4rem;
    height: 4rem;
    border-bottom: solid 1px #e11584;
    margin-left: 0.4rem;
    line-height: 4.5rem;

}

.errado{

    text-align: center;
    margin-top: 1rem;
    color: #e11584;
    margin-left: 1rem;

}

.errada{

    margin-left: 1rem;
}

[type="button"]{

    width: 15rem;
    padding: 1rem;
    border-radius: 1rem;
    border: solid 1px #e11584;
    color: #e11584;
    background: inherit;
    cursor: pointer;
}

.btn-azul{

    background-color:#ff1694;
    color: #fff;
    border-color: #9e4244 ;

}

.botones{

    text-align: center;
    margin-top: 3rem;
    

}